<div class="home">
    <h1>Chelas Movies Database</h1>
    <h3>The <a href="/">Chelas Movies Database</a> is a web-based platform that allows 
    users to access information about movies using the <a href="https://imdb-api.com/">IMDB API</a> 
    and organize them into groups. The CMDB has a number of features, including:</h3>
    
    <div id="features">
        <p>Search movies by title (max 250)</p>
        <p>Get the top rated movies (max 250)</p>
        <p>View movie details</p>
        <p>Organize movies into groups</p>
    </div>
</div>